body {
    margin:10;
    background-color:#FFEFD5;
    color:#CD853F;
    font-family:rockwell;
    }
    
    h1, p {
    color:#8B4513;
    font-family:Brushstroke;
    margin:auto;
    }
    
    form {
    width:auto;
    padding:5px;
    
    }